body{
    background-color:pink;
}
main{
    font-family: sans-serif;
}
/*following MR JAVIER :D. added everything below this*/
.nav-links{
    display: flex;
    flex-direction: column;
}
ul{
    padding-left: 0;
}
li {
    list-style: none;
}
/*added everything above this */