body{
    font-family: sans-serif;
}
img {
    width: 100%;
}
li {
    list-style: none;
}
.header-img {
    max-width: 100%;
    width: 100%;
    height: auto;
    max-height: 100%;
}

@media screen and (max-width:700px) {
    main{
        display: flex;
        flex-direction: column;
        width: 100%;
        font-family: sans-serif;
    }

    h1{
        text-align: center;
        font-size: 3em;
        margin: 0;
    }

    .alert-info {
        display: inline-block;
        background-color: #c5f6f7;
        margin-bottom: 1em;
        padding: 1em;
        text-align: center;
        border: 3px solid lightgray;
    }

    .alert-info a {
        text-decoration: none;
    }

    .nav-links li{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        text-align: center;

    }

    ul {
        padding-left: 0;
    }

    li a {
        display: inline-block;
        background: lightgray;
        margin-bottom: 1em;
        padding: 1em;
        text-align: center;

    }

    .sub-section{
        font-style: italic;
        margin-bottom: 5em;
    }

}

@media screen and (min-width: 701px) {
    .alert-info {
    visibility: hidden;
    }

    main{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 50%;
        margin: auto;
    }
    main .inline-heading{
        display: flex;
    }
    nav {
        justify-content: space-between;
    }
    li a {
        display: inline-block;
        padding: 1em;
        text-align: center;
        justify-content: space-between;
    }

    .inline-heading h1{
        flex-grow: 1;
        align-self: center;
        margin: auto;

    }

    .nav-links {
        display: flex;
        width: 100%;
        padding: 0;
    }
    .nav-links a {
        justify-items: center;
    }
    article {
        display: flex;
        align-items: center;
    }
    article #main {
        display: flex;
        flex-direction: column;
        padding-right: 2em;
    }
    #main {
        flex-basis: 55%;
    }
    .sub-section {
        font-style: italic;
        font-size: smaller;
    }

    .sub-section{
        flex-basis: 35%;
    }
    footer{
        margin-top: 10em;
    }

    .content h2{
        display: inline-flex;

    }

}